# Default ignored files
/../../InformationTheory_24_spring_project /.idea/shelf/
/../../InformationTheory_24_spring_project /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../InformationTheory_24_spring_project /.idea/httpRequests/
# Datasource local storage ignored files
/../../InformationTheory_24_spring_project /.idea/dataSources/
/../../InformationTheory_24_spring_project /.idea/dataSources.local.xml
